.viewtask {
    display: flex;
    justify-content: center;
}

.viewbox {
    margin-top: 4em;
    background-color: #f2f2f2
}

.viewtitle {
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: bolder;
}

.viewsubtitle {
    font-weight: bold;
    margin-bottom: 2em;
}


